{% include 'header.twig' %}
<div class="page">
  <div class="container">
    <h1>Chyba 404</h1>
    <h2>Hledaná stránka nenalezena</h2>
  </div>

  {% block content_bottom %}
  {% endblock %}
</div>
{% include 'footer.twig' %}
