{% extends "aukce-nabidka.twig" %}

{% block kroky %}{% endblock %}

{% block content %}
  <h1>Zamítnutí nabídky</h1>
  <p>
    Děkujeme za vaši poptávku po vložení aukce.
  </p>
  <p>
    Služba Aukce bydlení zatím běží v testovacím provozu. Je nám velmi líto, ale v tuto chvíli proto musíme vaši poptávku zamítnout. Službu testujeme proto, abychom ji mohli připravit na míru vašim potřebám a přáním. Dáme vám vědět hned, jak Aukci bydlení spustíme do ostrého provozu.  </p>
  <p>
    <strong>Na e-mail jsme vám poslali shrnutí vašich údajů</strong>. V případě jakýchkoliv otázek se na nás neváhejte obrátit na <a href="mailto:info@aukcebydleni.cz">info@aukcebydleni.cz</a>
  </p>
  <p>
    Děkujeme vám za pochopení,<br>
    Tým Aukce bydlení
  </p>
{% endblock %}
