{% extends "aukce-poptavka.twig" %}

{% block kroky %}{% endblock %}

{% block content %}
  <h1>Zamítnutí poptávky</h1>
  <p>
    Děkujeme za vaši poptávku.
  </p>
  <p>
    Služba Aukce bydlení zatím běží v <strong>testovacím provozu</strong>. Je nám velmi líto, ale v tuto chvíli proto musíme vaši poptávku zamítnout. Službu testujeme proto, abychom ji mohli připravit na míru vašim potřebám a přáním. Dáme vám vědět hned, jak Aukci bydlení spustíme do ostrého provozu.
  </p>
  <p>
    V případě jakýchkoliv otázek se na nás neváhejte obrátit na <a href="mailto:info@aukcebydleni.cz">info@aukcebydleni.cz</a>
  </p>
  <p>
    Děkujeme vám za pochopení,<br>
    Tým Aukce bydlení
  </p>
{% endblock %}
