@font-face {
	font-family: "<%= fontName %>";
	src: url(../../ikony/dest/<%= fontName %>.eot);
	src: url(../../ikony/dest/<%= fontName %>.eot?#iefix) format('eot'),
		url(../../ikony/dest/<%= fontName %>.woff2) format('woff2'),
		url(../../ikony/dest/<%= fontName %>.woff) format('woff'),
		url(../../ikony/dest/<%= fontName %>.ttf) format('truetype'),
		url(../../ikony/dest/<%= fontName %>.svg#<%= fontName %>) format('svg');
}

.<%= cssClass %>:before {
	font-family: "<%= fontName %>";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}

<% _.each(glyphs, function(glyph) { %>
.<%= cssClass %>-<%= glyph.fileName %>:before {
	content: "\<%= glyph.codePoint %>";
}
<% }); %>
