<ul class="menu-side">
  <li class="menu-side-li first">
    <a class="menu-side-link {% if page == 'jak-aukce-funguje' %}active{% endif %}"
      href="/jak-aukce-funguje">
      Jak aukce funguje<span class="sipka"></span>
    </a>
  </li>
  <li class="menu-side-li">
    <a class="menu-side-link {% if page == 'nas-pribeh' %}active{% endif %}"
      href="/nas-pribeh">
      Náš příběh<span class="sipka"></span>
    </a>
  </li>
  <li class="menu-side-li">
    <a class="menu-side-link {% if page == 'caste-dotazy-zajemcu' %}active{% endif %}"
      href="/caste-dotazy-zajemcu">
      Časté dotazy zájemců<span class="sipka"></span>
    </a>
  </li>
  <li class="menu-side-li last">
    <a class="menu-side-link {% if page == 'caste-dotazy-majitelu' %}active{% endif %}"
      href="/caste-dotazy-majitelu">
      Časté dotazy majitelů<span class="sipka"></span>
    </a>
  </li>
</ul>
