
<span class="tooltip js-tooltip">
  <button class="tooltip-toggle js-tooltip-toggle" aria-expanded="false">
    <span class="sr-only">Info</span>
    <i class="icon icon-info" aria-hidden="true"></i>
  </button>
  <span class="tooltip-tooltip js-tooltip-tooltip">
    <span class="tooltip-trojuhelnik"></span>
    {{ text }}
  </span>
</span>
