<p>Dobrý den,</p>

<p>rádi bychom Vám ještě jednou poděkovali za zájem o Aukci bydlení, která je zatím v testovacím provozu. Vaše požadavky a názory jsou pro nás důležité, díky nim totiž můžeme novou službu ještě více vylepšit.</p>

<p>V okamžiku, kdy Aukci bydlení spustíme naostro, Vám dáme hned vědět.
V případě jakýchkoliv otázek se na nás neváhejte obrátit na <a href="mailto:info@aukcebydleni.cz">info@aukcebydleni.cz</a></p>

<p>Děkujeme za pochopení a těšíme se na shledanou,</p>
<p>Tým Aukce bydlení</p>
