$screen-xxs-min: 341px;
$screen-xxs-max: 340px;
$screen-xs-min: 541px;
$screen-xs-max: 540px;
$screen-sm-min: 681px;
$screen-sm-max: 680px;
$screen-md-min: 961px;
$screen-md-max: 960px;
$screen-lg-min: 1181px;
$screen-lg-max: 1180px;

/* breakpoint pro hamburger menu */
$menu-br-min: 721px;
$menu-br-max: 720px;
/* breakpoint pro patičku */
$screen-footer-min: 831px;
$screen-footer-max: 830px;

$container-xs: 100%;
$container-sm: 100%;
$container-md: 100%;
$container-lg: 1180px;
$gutter-width: 28px;
$gutter-compensation: -14px;
$half-gutter-width: 14px;

$modra: #274abb;
$modra2: #d3daf1;
$modra-svetla: #eaf7fe;

$ruzova: #F53E5D;

$zelena: #008b73; /* tmavší, vhodná pro text */
$zelena2: #0ac1a2; /* světlejší, vhodná do pozadí */
$zelena-svetla: #eaf7fe;
$zelena-modal-label: #abe9de;
$zelena-shadow: rgba(0, 139, 115, 0.4);

$text1: #333333;
$text2: #888888;

$border: #e6e6e6;
$border-input: #d0d0d0;
$seda: #f7f7f7;

$box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.3);
